body {
    font-family: monospace;
}

a:visited {
    color: rgb(59, 59, 59);
    text-decoration: none;
}

a:link {
    color: black;
}

.nav_bar_button {
    margin-left: 3rem;
    margin-right: 3rem;
}

.nav_bar_button:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.current {
    text-decoration: underline;
}

.non_current {
    text-decoration: none;
}

.nav_bar {
    margin-left: 10%;
    margin-right: 10%;
}

.nav_bar .nav_bar_text {
    text-align: center;
}

ol {
    list-style-type: lower-roman;
}

.container {
    margin-left: 33%;
    margin-right: 33%;
}

.post a {
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}

.container #cover_image {
    width: 100%;
}

.card:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer {
    margin-left: 45%;
    margin-right: 45%;
}
.copyright {
    text-align: left;
}