body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}
a{color: #2b2bf6;}
#container{width: 900px; margin: 0; padding: 0; background: #dddddd;}
#header {
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #CCEEFF;
}
#sidebar{width: 20%; height: 70%; 
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    background: #E6E6E6;
}
#content{width: 80%; height: 70%;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    background: #8be0ef
}
#footer{width: 100%; height: 10%;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    background: #000000;
    clear:both;

}